page-application {
    .content-md, .content-ios{
        // background: #b2284e; /* For browsers that do not support gradients */
        // background: -webkit-linear-gradient(-90deg, #b2284e, #2a73d3); /* For Safari 5.1 to 6.0 */
        // background: -o-linear-gradient(-90deg, #b2284e, #2a73d3); /* For Opera 11.1 to 12.0 */
        // background: -moz-linear-gradient(-90deg, #b2284e, #2a73d3); /* For Firefox 3.6 to 15 */
        // background: linear-gradient(-90deg, #b2284e, #2a73d3); /* Standard syntax */
        background: #2a73d3;
      }

    .card{
        width: 20vh;
        height: 30vh;
        display: inline-block;
    }
    .container{
        background: white;

        margin-left: 5px;
        margin-top: 10px;
        -moz-border-radius:10px 0;
        -webkit-border-radius:10px 0;
        border-radius:10px 0;
    }

    .nameApplication{

        font-size: 20px;
        text-align: center;
    }

    .nameService{
        font-size: 10px;
        margin-top: auto;
        text-align: center;
    }

}
