<ion-header>
    <ion-navbar color="primary" hideBackButton="true">
        <ion-buttons start>
        <button ion-button icon-left (click)="prev()"><ion-icon name="arrow-back"></ion-icon></button> 
        </ion-buttons>
        <ion-title>
        Onet Portfolio
        </ion-title>
        <!--
        <ion-buttons end>
        <button ion-button icon-left (click)="login()"><ion-icon name="contact"></ion-icon></button>
        </ion-buttons>-->
    </ion-navbar>
    <form>
        <ion-auto-complete [dataProvider]="completeTestService" (itemSelected)="getVal($event)" [(ngModel)]="placeholder" name="placeholder"></ion-auto-complete>
    </form>
</ion-header>




<ion-content>
    <div *ngFor="let application of applications; let i=index">
        <div class="slider">
            <div>
                <br>
                <p class="titleSlide">{{application.name}}</p>
                <ion-buttons end style="margin-top: -47px;">
                        <button ion-button outline icon-right style="border-style: none" (click)="viewAll(application);"><ion-icon name="add"></ion-icon></button> 
                    </ion-buttons>
                    <ion-slides slidesPerView="3">
                            <div *ngFor="let objet of application.objets;">
                                <ion-slide>
                                    <ion-card class="card">
                                        <ion-card-content>
                                            <img class="imageService" (click)="serviceDetail(objet);" [src]="objet.img" \>
                                            <p class="nameService">{{objet.name}}</p>
                                        </ion-card-content>
                                    </ion-card>                           
                                </ion-slide>      
                            </div>
                    </ion-slides>
                    </div>
            </div>
    </div>
    <!--
    <div class="slider">
        <p class="titleSlide">Propreté et Services</p>
        <div>
            <ion-slides slidesPerView="3" class="padding">
                <div *ngFor="let service of services; let i=index" style="display : inline;">
                    <ion-slide *ngIf="service.imgMarque == 'assets/img/marques/0.jpg'">
                        <ion-card class="card">
                                <ion-card-content>
                                    <img class="imageService" (click)="serviceDetail(service.id);" *ngIf="service.imgMarque == 'assets/img/marques/0.jpg'" [src]="'assets/img/services/' + service.id +'.jpg'" \>
                                    <p class="nameService">{{service.title}}</p>
                                </ion-card-content>
                        </ion-card>                           
                    </ion-slide>      
                </div>
            </ion-slides>
        </div>
    </div>
  <br>
  <p>Sécurité</p>
  <div>
      <ion-slides slidesPerView="3">
            <div *ngFor="let service of services; let i=index" style="display : inline;">
                <ion-slide *ngIf="service.imgMarque == 'assets/img/marques/1.jpg'">
                        <img class="imageService" (click)="serviceDetail(service.id);" *ngIf="service.imgMarque == 'assets/img/marques/1.jpg'" [src]="'assets/img/services/' + service.id +'.jpg'"\>
                </ion-slide>           
            </div>
      </ion-slides>

  </div>

  <br>
  <p>Services aéroportuaires</p>
  <div>
        <ion-slides slidesPerView="3">
              <div *ngFor="let service of services; let i=index" style="display : inline;">
                  <ion-slide *ngIf="service.imgMarque == 'assets/img/marques/2.jpg'">
                    <img class="imageService" (click)="serviceDetail(service.id);" *ngIf="service.imgMarque == 'assets/img/marques/2.jpg'" [src]="'assets/img/services/' + service.id +'.jpg'"\> 
                  </ion-slide>           
              </div>
        </ion-slides>
  
    </div>
  <br>
  <p>Accueil</p>
  <div>
        <ion-slides slidesPerView="3">
              <div *ngFor="let service of services; let i=index" style="display : inline;">
                  <ion-slide *ngIf="service.imgMarque == 'assets/img/marques/3.jpg'">
                    <img class="imageService" (click)="serviceDetail(service.id);" *ngIf="service.imgMarque == 'assets/img/marques/3.jpg'" [src]="'assets/img/services/' + service.id +'.jpg'"\>
                </ion-slide>
                </div>
        </ion-slides>
  
    </div>
  <br>
  <p>Logistique</p>
  <div>
        <ion-slides slidesPerView="3">
              <div *ngFor="let service of services; let i=index" style="display : inline;">
                  <ion-slide *ngIf="service.imgMarque == 'assets/img/marques/4.jpg'">
                    <img class="imageService" (click)="serviceDetail(service.id);" *ngIf="service.imgMarque == 'assets/img/marques/4.jpg'" [src]="'assets/img/services/' + service.id +'.jpg'"\>
                </ion-slide>
                </div>
        </ion-slides>
  
    </div>
  <br>
  <p>Technologies</p>
  <div>
        <ion-slides slidesPerView="3">
              <div *ngFor="let service of services; let i=index" style="display : inline;">
                  <ion-slide *ngIf="service.imgMarque == 'assets/img/marques/5.jpg'">
                    <img class="imageService" (click)="serviceDetail(service.id);" *ngIf="service.imgMarque == 'assets/img/marques/5.jpg'" [src]="'assets/img/services/' + service.id +'.jpg'"\>
                </ion-slide>
                </div>
        </ion-slides>
    </div>

  <br>
  <p>Intérim, Recrutement et formation</p>
  <div>
        <ion-slides slidesPerView="3">
              <div *ngFor="let service of services; let i=index" style="display : inline;">
                  <ion-slide *ngIf="service.imgMarque == 'assets/img/marques/6.jpg'">
                    <img class="imageService" (click)="serviceDetail(service.id);" *ngIf="service.imgMarque == 'assets/img/marques/6.jpg'" [src]="'assets/img/services/' + service.id +'.jpg'"\>
                </ion-slide>
                </div>
        </ion-slides>
    </div>
-->


  <!--<ul *ngFor="let service of services">
    <li *ngIf="service.imgMarque == 'assets/img/marques/0.jpg'">
      <img width="20px" src="{{service.imgMarque}}"/>
    </li>
  </ul>  -->
</ion-content>
